{
    "mcpServers": {
        "filesystem": {
            "command": "npx",
            "args": ["@modelcontextprotocol/server-filesystem@0.6.2", "."]
        },
        "git": {
            "command": "npx",
            "args": ["@modelcontextprotocol/server-git@0.6.2", "."]
        },
        "github": {
            "command": "npx",
            "args": ["@modelcontextprotocol/server-github@0.6.2"],
            "env": {
                "GITHUB_PERSONAL_ACCESS_TOKEN": "${GITHUB_PERSONAL_ACCESS_TOKEN}"
            }
        },
        "fetch": {
            "command": "npx",
            "args": ["@modelcontextprotocol/server-fetch@0.6.2"]
        }
    }
}
